<div class="wrapper">

  <div class="title">
    <h1 class="mat-display-1">Assuntos</h1>

    <section class="customFlexContainer">
      <a color="primary" mat-raised-button routerLink="/assuntos/novo">
        Novo Assunto
      </a>
    </section>
  </div>

  <div class="pesquisar">
    <mat-form-field color="accent">
      <label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
      </label>
    </mat-form-field>
  </div>

  <div class="tab-container mat-elevation-z2">
    <mat-table fxFlex [dataSource]="dataSource" matSort id="assuntosTable">
      <!-- Texto -->
      <ng-container matColumnDef="texto">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Texto </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.texto}} </mat-cell>
      </ng-container>

      <!-- Editar -->
      <ng-container matColumnDef="editar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell matTooltip="Editar" matTooltipPosition="above" *matCellDef="let row">
          <button mat-icon-button><mat-icon>edit</mat-icon></button>
        </mat-cell>
      </ng-container>

      <!-- Excluir -->
      <ng-container matColumnDef="excluir">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell matTooltip="Excluir" matTooltipPosition="above" *matCellDef="let row">
          <button mat-stroked-button><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>

      <!-- No records found -->
<!--      <ng-container matColumnDef="noData">-->
<!--        <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">-->
<!--          Nenhum registro encontrado-->
<!--        </mat-footer-cell>-->
<!--      </ng-container>-->

      <!-- Header and Row Declarations -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
<!--      <mat-footer-row *matFooterRowDef="['noData']"-->
<!--                      [hidden]="dataSource && dataSource.data.length > 0">-->
<!--      </mat-footer-row>-->
    </mat-table>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="menu" title="Downlaod"><mat-icon>save_alt</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="exportAs('xlsx')">XLSX</button>
          <button mat-menu-item (click)="exportAs('pdf', 'portrait')">PDF</button>
          <button mat-menu-item (click)="exportAs('csv')">CSV</button>
          <button mat-menu-item (click)="exportAs('png')">Print</button>
        </mat-menu>
        <span class="example-spacer"></span>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
